# .gitignore
.streamlit/secrets.toml
Data/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter notebooks if any
*.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db
~$FRED_data.xlsx
.venv\

